.header {
  text-align: center;
  color: blue;
}
.img {
  position: relative;
  width: 100%;
}
.nav {
  text-decoration: none;
  display: inline;
  margin-right: 7px;
  font-size: large;
}
.button {
   width: 45;
   float: right;
   padding: 5px;
}
.p {
  float: right;
}
.footer {
height: 100%;
}
